.video-div {
    margin: 40px;
    height: 862px;;
    width: 540px;
    display: inline-block;
    margin-right: 0;
}

.div-1{
   
    height: 400px;
    width: 270px;
    float: left;
}
.div-2{
    float: left;
    height: 400px;
    width: 270px;
}
.div-3{
    float: left;
    height: 400px;
    width: 270px;
    margin-right: 0;
}
.div-4{
    float: left;
    height: 400px;
    width: 270px;
    margin-right: 0;
}
.div-1-img{
    width: 100%;
    height: 100%;
}
.adv-390{
    width: 270px;
    height: 400px;
}
.insta-div{
    background-color: black;
    color: white;
    width: 640px;
    height:800px ;
    margin: 40px;
    margin-left: 0;
    float: right;
    position: relative;
   
}
.follow-div p{
    padding-left: 46px;
    margin: 0;
    margin-top: -33px;
}
.fa-instagram{
    font-size: 35px;
    cursor: pointer;
}
.container{
    margin-top: -60px;
    height: 850px;
    float: left;
   
}
.button{
   
    height: 200px;
    width: 200px;
    position: absolute;
    top: 269px;
    right: 235px ;
}
.follow-div ,h3{
display: inline-block;
padding-left: 10px;
margin: 0;

}

.button h1{
line-height:40px;
}
